.bluev-text {
  color: whitesmoke;
}

.blue-text {
  color:whitesmoke;
}

.royalblue-text {
  color: whitesmoke;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.lucidasans {
  font-family: Lucida Sans;
}

.cursive {
  font-family: cursive;
}

.fifty {
  font-size: 50px;
}
.hundred {
  font-size: 100px;
}
.thirty {
  font-size: 30px;
}
.image-1000 {
  width: 1000px;
}
.image-fit {
  width: fit-content;
}
img {
  width: 345px;
  height: 245px;
}
.border {
  border-width: 10px;
  border-radius: 50%;
  border-style: groove;
  border-color: burlywood;
}
div {
  background-color: #09A7A1;
  margin: auto;
}
h1 {
  background-color: #09A7A1;
  margin: 0;
  text-align: center;
}
.margin {
  margin: 40px 40px 40px 40px;
}
.padding {
  padding: 10px 20px 20px 10px;
}
.paddingem {
  padding: 1.5em;
}
body {
  background-color: #09A7A1;
}
a:hover {
  color: brown;
}
img {
  position: relative;
  left: 650px;
}
h1 {
}
#left {
  float: left;
  width: 50%;
}
#right {
  float: right;
  width: 50%;
}
.center{
text-align: center;
}