.bluev-text {
  color: blueviolet;
}

.blue-text {
  color: blue;
}

.royalblue-text {
  color: royalblue;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.lucidasans {
  font-family: Lucida Sans;
}

.cursive {
    font-family: cursive;
  }

.fifty {
  font-size: 50px;
}
.hundred {
  font-size: 100px;
}
.thirty {
  font-size: 30px;
}
.image-1000{
  width: 1000px;
}
.image-fit{
  width: fit-content;
}
.border{
  border-width: 10px;
  border-radius: 50%;
  border-style: groove;
  border-color: burlywood;
}
div{
  background-color: burlywood;
}
h1{
  background-color: lightgray;
  margin: 0;
}
